<tr>
  <td><%= best_in_place dict, :category, type: :input %></td>
  <td><%= best_in_place dict, :title, type: :input %></td>
  <td><%= best_in_place dict, :code, type: :input %></td>
  <td><%= link_to 'destroy', dict, data: {confirm: 'are_you_sure'}, method: :delete %></td>
</tr>