<tr>
  <td><%= best_in_place dict, :category %></td>
  <td><%= best_in_place dict, :title %></td>
  <td><%= best_in_place dict, :code %></td>
  <td><%= link_to 'destroy', dict, data: {confirm: 'are_you_sure'}, method: :delete %></td>
</tr>