<h1>Think Bridge</h1>

<h2>My billings</h2>
<table class="table table-striped">
  <tbody>
    <%= render @billings %>
  </tbody>
</table>
<table class="table table-striped">
  <tbody>
    <%= render @personalcharges %>
  </tbody>
</table>