<tr>
  <td><%= best_in_place industry, :code %></td>
  <td><%= best_in_place industry, :title %></td>
  <td><%= link_to 'destroy', industry, 
                  data: {confirm: 'are_you_sure'}, 
                  method: :delete %></td>
</tr>