<tr>
  <td><%= best_in_place industry, :code %></td>
  <td><%= best_in_place industry, :title %></td>
  <td><%= link_to t('destroy'), industry, 
                  data: {confirm: t('are_you_sure')}, 
                  method: :delete %></td>
</tr>