<table class="table">
  <thead>
    <tr>
      <th>action/role</th>
      <th>hr_admin</th>
      <th>admin</th>
      <th>hr</th>
      <th>gm</th>
      <th>partner</th>
      <th>manager</th>
      <th>accounting</th>
      <th>nil</th>
    </tr>  
  </thead>
  <tbody>
    <!-- billing -->
    <tr class="active">
      <td>Billing Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>billing create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>billing show</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
    </tr>
    <tr>
      <td>billing index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>billing update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>billing destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- expense -->
    <tr class="active">
      <td>Expense Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>expense create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>expense show</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
    </tr>
    <tr>
      <td>expense index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>expense update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>expense destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- report -->
    <tr class="active">
      <td>Report Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>report</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>report summary</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>report summary_by_user</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- client and contact -->
    <tr class="active">
      <td>Client Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>client create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>client show</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>client index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>client update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>client destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>contact index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- user -->
    <tr class="active">
      <td>User Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>user create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>user index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>user update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>user destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- project and ufafee -->
    <tr class="active">
      <td>Project Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>project create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>project show</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
    </tr>
    <tr>
      <td>project index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>project update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>project destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>project close</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <td>ufafee create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>ufafee index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>ufafee update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>ufafee destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- time report -->
    <tr class="active">
      <td>TimeReport Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>time_report create(update)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
    </tr>
    <tr>
      <td>time_report submit</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
    </tr>
    <tr>
      <td>time_report apporve</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>personalcharge create</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>personalcharge index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>personalcharge update</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>personalcharge destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>personal approve</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- setting -->
    <tr class="active">
      <td>Setting Module</td>
      <% 8.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td>dict create(update)</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>dict index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>dict destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>industry create(update)</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>industry index</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>industry destroy</td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td><span class="glyphicon glyphicon-star"></span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>