<h1>Listing billings</h1>
<div>
  <%= link_to 'New billing', new_billing_path %>
</div>
<%= paginate @billings %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job code</th>
      <th>Number</th>
      <th>Billing_date</th>
      <th>Amount</th>
      <th>Outstanding</th>
      <th>Service billing</th>
      <th>Expense billing</th>
      <th>Days of ageing</th>
      <th>Business tax</th>
      <th>Status</th>
      <th>Collection days</th>
      <th>Write off</th>
      <th>Provision</th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <%= render @billings %>
  </tbody>
</table>
<%= paginate @billings %>