<% Item.content_columns.each do |column| %>
  <p>
    <b><%= column.human_name %>:</b> <%=h @item.send(column.name) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_url %>
