<h1>Editing receive_amount</h1>
<%= render 'form' %>
<%= link_to 'Show', :action => 'show', :id => @receive_amount %> |
<%= link_to 'Back', :action => 'show', :controller => 'billings', :id => @receive_amount.billing_id %>
