<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Billing Responsibility</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= t('billing_partner') %></dt>
      <dd><%= @project.billing_partner.english_name if @project.billing_partner %></dd>

      <dt><%= t('billing_manager') %></dt>
      <dd><%= @project.billing_manager.english_name if @project.billing_manager %></dd>
    </dl>
  </div>
</div>